{# <form id="delete-form" action="{{ path('admin_citas_eliminar', {'id': cita.id}) }}" method="POST" style="display: inline;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cita.id) }}">
    <button type="submit">Eliminar</button>
</form>
 #}



