<form action="{{ path('admin_tiendas_eliminar', {'id': tienda.id}) }}" method="post" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tienda.id) }}">
    <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
</form>
